*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
}
.left{
    /* background-color: red; */
    height: 100%;
    width: 40%;
    position: relative;

   
}
.content{

    padding: 10px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50% -50%);
}
.content h1{
    font-weight: 900;
    font-size: 100px;
}
.content p{
    opacity: 0.6;
    padding-bottom: 10px;
}
.content a{
    /* padding: 5px; */
    /* background-color: black; */
    /* color: white; */
    /* border: none; */
    /* border-radius: 2px; */
    /* border: 1px soild white; */
    color: black;

}
.right{
    background-color: green;
    height: 100%;
    width: 60%;
}
.right-top{
    height: 50%;
    width: 100%;
    background-color: aqua;
    display: flex;
    
}

.right-top-one{
    height: 100%;
    width: 50%;
    background-color: red;
    background-image: url('https://images.unsplash.com/photo-1710488140458-e1757928a9f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    position: relative;
}
.right-top-one h1{
    color: white;
    text-align: right;
    /* display: flex; */
    /* background-color: red; */
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    top: 30%;

    left: 30%;
    transform: translate(-50% -50%);
}
.right-top-two{
    height: 100%;
    width: 50%; 
    background-image: url('https://images.unsplash.com/photo-1710488140472-250b74428602?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.right-bottom{
    height: 50%;
    width: 100%;
    background-color: aquamarine;
background-image: url('https://images.unsplash.com/photo-1691397656808-f8fa1e69e4e3?q=80&w=2032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}
.right-bottom img{
    height: 100%;
    width: 100%;
}
@media (max-width:500px) {
    .main{
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .right-top-one h1{
        font-size: 20px;
    }
    .content{
        top: 25%;
        left: 20%;
    }
}