*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    /* background-color: chocolate; */
    position: relative;
    color: white;
    /* align-items: center; */
    /* display: flex; */
}
.left img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0%;
    left: 0%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    z-index: 9999;
    position: relative;
    color: black;
}
.left h1{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 50px;
    text-align: right;
    animation-name: heading;
    animation-duration: 3s;
    
}
@keyframes heading {
    
    0%{
        right: -50%;
    }
    100%{
        right: 10%;
    }
}
.left>i{
    position: absolute;
    /* background-color: red; */
    bottom: 8%;
    left: 5%;
    font-size: 30px;
    /* left: 90%; */
}
.right{
    height: 100%;
    width: 50%;
    background-color: cadetblue;
    position: relative;
}
#img1{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 5%;
    /* right: ; */
    left: 50%;
    object-fit: cover;
    transform: translate(-50% -50%);
    animation-name: imagess;
    animation-duration: 3s;
}
#img2{
    height: 150px;
    width: 150px;
    position: absolute;
    object-fit: cover;
    left: 20%;
    top: 40%;
    transform: translate(-50% , 0);
    animation-name: imagess;
    animation-duration: 3s;
}
#img3{
    height: 150px;
    width: 150px;
    position: absolute;
    object-fit: cover;
    bottom: 3%;
    left: 50%;
    transform: translate(-50% , 0);
    background-position: bottom;
    animation-name: imagess;
    animation-duration: 3s;
}
@keyframes imagess {
    0%{
        left: -50%;
    }
    100%{
        left: 50%;
    }
}

.right>h3{
    font-size: 40px;
    position: absolute;
    letter-spacing: 2px;
    rotate: -90deg;
    right: -20%;
    top: 30%;
}

