*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#main{
    font-family: gilroy;
    width: 100%;
    min-height: 100vh;
}

#nav{
    width: 100%;
    min-height: 10vh;
    /* background-color: beige; */
}

#home{
    min-height: 90vh;
    display: flex;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 5vw;
}

#nav #links{
    display: flex;
    gap:3vw;
}

#nav #links a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

#nav button{
    padding: 0.5vw 2vw;
    color: black;
    background-color: rgb(131, 208, 131);
    border: none;
    border-radius: 5px;
}


#left{
    width: 30%;
    min-height: inherit;
    /* background-color: red; */
    position: relative;
}

#text{
    position: absolute;
    width: 80%;
    right: -25%;
    top:20%
}

#text h1{
    font-size: 4.2vw;
    line-height: 1;
}

#text p{
    padding: 1.3vw 0vw;
}

#text button{
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(252, 211, 157);
    color:rgb(174, 102, 7)
}

#center{
    width: 45%;
    min-height: inherit;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1505142468610-359e7d316be0?q=80&w=1852&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#right{
    width: 25%;
    min-height: inherit;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw;
}


#circle{
    width: 4vw;
    height: 4vw;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 40px solid black;
}

#circle i{
    font-size: 25px;
    color:white
}


#nav #right-n{
    display: flex;
    align-items: center;
    gap:30px
}

@media(max-width:500px) {
    #nav #links{
        display: none;
    }
    
    #home{
        flex-direction: column;
    }

    #home #left{
        min-height: 10vh;
        width: 100%;
        padding: 5vw;
    }

    #home #left #text{
        position: static;
    }


    #text h1{
        font-size: 6vw;
    }

    #text p{
        width: 100%;
    }

    #text button{
        font-size: 2vw;
        padding: 3vw 6vw;
    }

    #center{
        width: 100%;
        min-height: 50vh;
        background-position: center;
    }

    #right{
        width: 100%;
        min-height: 40vh;
        padding: 10vw 10vw;
    }

}